
body{ 
  background-color:#FBA29D;      
  color:black; 
  text-align:left; 
  font-family:'Funnel Sans'; 
  margin-left:10%; 
  margin-right:10%; 
} 
#bg{
  width:100vw;
  height:100vh;
  z-index:-999;
  position:fixed;
  top:0px;
  left:0px
}
.heading{ 
  font-family:Caprasimo,cursive; 
  font-weight:lighter; 
  text-align:center; 
  font-size:300%; 
  color:black; 
  text-shadow:#ffffff 2px 2px 
} 
h2.heading{ 
    font-size:200%;
} 
h3.heading{
  font-size:175%;
}
.bordered{ 
  border-style: solid; 
  border-color: #FFC2BE; 
  border-width: 3px; 
  padding: 5px; 
  margin: 5px;
  border-radius:10px;
  background-color:#FFC2BE;  
  color:#131313; 
}
a{
  text-decoration:none;
  font-weight:700;
  color:#8E3D3A;
}
a:hover, a:visited{
  color:#C15D59;
}
hr {
  height:2px;
  border:0px;
  background-color:#C15D59;
}
#footer{
  font-size:large;
  text-align:center;
}
#nav-list {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-content: center;
  list-style-type: none;
  position: relative;
  background-color: #FFC2BE;
  border:solid #FEB6B2 1px;
  border-radius:10px;
}

#nav-list > li {
  flex-grow: 1;
  display: block;
  position: relative;
  text-align: center;
  margin: auto;
}

nav-list li a {
  display: inline-block;
  width: 100%;
  color: #000;
}

#nav-list ul {
  display: none;
}

#nav-list li:hover {
  background-color: #FEB6B2;
  color: #112;
}

#nav-list li:hover ul {
  display: block;
  background-color:#FEB6B2;
  border:solid #FEB6B2 1px;
  border-radius:10px;
}

#nav-list li ul {
  list-style-type: none;
  padding: 0px;
  position: absolute;
  width: 100%
}
