body{
  margin:3%;
  padding:0;
  
}

.square {
  width:27vw;
  font-size:300%;
  float:left;
  text-align:center;
  padding-top:5%;
  padding-bottom:5%;
}

#top-left{
  border-bottom:  solid black 2px;
  border-right: solid black 2px;
}
#top-middle{
  border-left: solid black 2px;
  border-bottom: solid black 2px;
  border-right: solid black 2px;
}
#top-right{
  border-left: solid black 2px;
  border-bottom: solid black 2px;
}
#middle-left{
  border-right: solid black 2px;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}
#middle{
  border: solid black 2px;
}
#middle-right{
  border-left: solid black 2px;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}
#bottom-left{
  border-top: solid black 2px;
  border-right: solid black 2px;
}
#bottom-middle{
  border-top: solid black 2px;
  border-left: solid black 2px;
  border-right: solid black 2px;
}
#bottom-right{
  border-top: solid black 2px;
  border-left: solid black 2px;
}


#winner{
  display: none;
  position: fixed;
  top: 40%;
  left:22%;
  right:25%;
  text-align:center;
  z-index:999;
  background-color:#FFC2BE;
  padding:2em;
  font-size:xx-large;
}

